<section
  class="collapsable__wrap collapsable__design collapsable js-collapsable"
>
  <include
    src="./collapsable-header.html"
    collapsableIcon="fa-object-ungroup"
    collapsableTitle=" Diseña"
  ></include>

  <div class="collapsable__content collapsable__content--design">
    <h3 class="design__title">colores</h3>

    <label class="display-block design__square-label">
      <input
        type="radio"
        name="palette"
        class="design__square-radio js_palette-select"
        value="1"
        checked
      />
      <ul class="palette-1-election">
        <li class="design__square-color color-1">Color A</li>
        <li class="design__square-color color-2">Color B</li>
        <li class="design__square-color color-3">Color C</li>
      </ul>
    </label>

    <label class="display-block design__square-label">
      <input
        type="radio"
        name="palette"
        value="2"
        class="design__square-radio js_palette-select"
      />
      <ul class="palette-2-election">
        <li class="design__square-color color-1">Color A</li>
        <li class="design__square-color color-2">Color B</li>
        <li class="design__square-color color-3">Color C</li>
      </ul>
    </label>

    <label class="display-block design__square-label">
      <input
        type="radio"
        name="palette"
        value="3"
        class="design__square-radio js_palette-select"
      />
      <ul class="palette-3-election">
        <li class="design__square-color color-1">Color A</li>
        <li class="design__square-color color-2">Color B</li>
        <li class="design__square-color color-3">Color C</li>
      </ul>
    </label>
  </div>
</section>
