<section class="design">
    <h2 class="collapsable__header">
        <span class="icon-design">❤❤❤</span>
        <span class="tittle-design">Diseña</span>
        <span class="icon-scroll">❤❤❤</span>
    </h2>
    <div class="collapsable__content design">
       <label class="palette-options">
           <input type="radio" name="palette" class="design-palette" checked />
           <ul class="palette-1">
              <li class="design__square-color color-1">color A</li>
              <li class="design__square-color color-2">color B</li>
              <li class="design__square-color color-3">color C</li> 
           </ul>
       </label>
       <label class="palette-options">
           <input type="radio" name="palette" class="design-palette" checked />
           <ul class="palette-2">
              <li class="design__square-color color-1">color A</li>
              <li class="design__square-color color-2">color B</li>
              <li class="design__square-color color-3">color C</li> 
           </ul>
       </label>
       <label class="palette-options">
           <input type="radio" name="palette" class="design-palette" checked />
           <ul class="palette-3">
              <li class="design__square-color color-1">color A</li>
              <li class="design__square-color color-2">color B</li>
              <li class="design__square-color color-3">color C</li> 
           </ul>
       </label>

    </div>    
</section>