<section class="design">
  
  <include
    src="./collapsable-header.html"
    collapsableIcon="fa-object-ungroup"
    collapsableTitle="Diseña"
  ></include>

  <h3 class="design__title">colores</h3>

  <div class="collapsable__content design">
    

    <label class="display-block design__square-label">
      <input type="radio" name="palette" class="design__square-radio" checked />
      <ul class="palette-1">
        <li class="design__square-color color-1">Color A</li>
        <li class="design__square-color color-2">Color B</li>
        <li class="design__square-color color-3">Color C</li>
      </ul>
    </label> 

    <label class="display-block design__square-label">
      <input type="radio" name="palette" class="design__square-radio" />
      <ul class="palette-2">
        <li class="design__square-color color-1">Color A</li>
        <li class="design__square-color color-2">Color B</li>
        <li class="design__square-color color-3">Color C</li>
      </ul>
    </label>

    <label class="display-block design__square-label">
      <input type="radio" name="palette" class="design__square-radio" />
      <ul class="palette-3">
        <li class="design__square-color color-1">Color A</li>
        <li class="design__square-color color-2">Color B</li>
        <li class="design__square-color color-3">Color C</li>
      </ul>
    </label>
  </div>
</section>
