<section>
  <div class="colapsable_form">
    <!-- <div class="left">
      <span class="fa__form"
        ><i class="fa fa-keyboard-o" aria-hidden="true"></i
      ></span>
      <h2 class="form__colap--h2">Rellena</h2>
    </div>
    <i class="fa fa-angle-up" aria-hidden="true"></i> -->
  
  
    <include src="./collapsable-header.html" collapsableIcon="fa-keyboard-o" collapsableTitle="Rellena"></include>
  </div>

  <label class="form__label" for="email">Email</label>
  <input class="form__input js-email" type="email" name="email" id="email" placeholder="maria.garcia@example.com"
    required />

  <label class="form__label" for="phone">Telefono</label>
  <input class="form__input" type="tel" name="phone" id="phone" placeholder="+34 666666666" />

  <label class="form__label" for="linkedin">Linkedin</label>
  <input class="form__input" type="url" name="linkedin" id="linkedin" placeholder="Nombre de usuario de LinkedIn"
    required />

  <label class="form__label" for="github">Github</label>
  <input class="form__input" type="url" name="github" id="github" placeholder="Nombre de usuario de GitHub" required />
</form>
