Rellena

<form
  method="post"
  action="https://us-central1-awesome-cards-cf6f0.cloudfunctions.net/"
>
  <label for="name">Nombre completo</label>
  <input type="text" name="name" placeholder="Nombre completo" required />

  <label for="job">Puesto</label>
  <input type="text" name="job" id="job" placeholder="Profesión" required />

  <label for="photo">Imagen de perfil</label>
  <button
    class="btn__submit--image"
    type="submit"
    value="Anadir imagen"
    name="photo"
    id="photo"
    required
  >Añadir imagem</button>
  <div class="preview__image"></div>

  <label for="email">Email</label>
  <input
    type="email"
    name="email"
    id="email"
    placeholder="maria.garcia@example.com"
    required
  />

  <label for="phone">Telefono</label>
  <input type="tel" name="phone" id="phone" placeholder="+34 666666666" />

  <label for="linkedin">Linkedin</label>
  <input
    type="url"
    name="linkedin"
    id="linkedin"
    placeholder="Nombre de usuario de LinkedIn"
    required
  />

  <label for="github">Github</label>
  <input
    type="url"
    name="github"
    id="github"
    placeholder="Nombre de usuario de GitHub"
    required
  />
</form>
