<main class="main-landing">
  <img
    src="./assets/images/logo-awesome-profile-cards.svg"
    class="main-landing__logo imageSpin"
    alt="Awesome logo"
    title="Awesome logo"
  />
  <section class="main-landing__content">
    <h1 class="main-landing__content--title">Crea tu tarjeta de visita</h1>
    <h2 class="main-landing__content--subtitle">
      Crea mejores contactos profesionales de forma fácil y cómoda
    </h2>
  </section>
  <section class="main-landing__rectangle">
    <div class="main-landing__rectangle--item">
      <i class="fa fa-landing fa-object-ungroup" aria-hidden="true"></i
      ><span class="main-landing__rectangle--item-text">diseña</span>
    </div>
    <div class="main-landing__rectangle--item">
      <i class="fa fa-landing fa-keyboard-o" aria-hidden="true"></i
      ><span class="main-landing__rectangle--item-text">rellena</span>
    </div>
    <div class="main-landing__rectangle--item">
      <i class="fa fa-landing fa-share-alt" aria-hidden="true"></i>
      <span class="main-landing__rectangle--item-text">comparte</span>
    </div>
  </section>
  <a class="main-landing__link link_animation" href="cards.html">comenzar</a>
</main>
