<section class="section__card">
  <div class="section__container">
    <button class="reset js-reset"><i class="fa fa-trash"></i>Reset</button>
    <div class="card palette3card js_preview-card">
      <div class="card__titles">
        <h3 class="card__titles--name js-preview-name">Nombre apellidos</h3>
        <h4 class="card__titles--job js-preview-job">Programadora front end</h4>
      </div>
      <div class="card__image js__profile-image"></div>
      <div class="card__links--container">
        <ul class="logo__list">
          <li class="logo__list--item js-logo-list hidden">
            <a class="link__card js-preview-tel" title=""
              ><i class="fa fa-mobile" aria-hidden="true"></i
            ></a>
          </li>
          <li class="logo__list--item js-logo-list hidden">
            <a class="link__card js-preview-email" href="" title=""
              ><i class="fa fa-envelope-o"></i
            ></a>
          </li>
          <li class="logo__list--item js-logo-list hidden">
            <a class="link__card js-preview-linkedin" href="" title=""
              ><i class="fa fa-linkedin"></i
            ></a>
          </li>
          <li class="logo__list--item js-logo-list hidden">
            <a class="link__card js-preview-github" href="" title=""
              ><i class="fa fa-github-alt"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
