<section class="section__card">
  <div class="section__container">
    <button class="reset"><i class="fa fa-trash"></i>Reset</button>
    <div class="card">
      <div class="card__titles">
        <h3 class="card__titles--name">Nombre apellidos</h3>
        <h4 class="card__titles--job">Front-End Developer</h4>
      </div>
      <img
        class="card__image"
        src="./assets/images/lee.jpg"
        title="Profile photo"
        alt="Profile photo"
      />
      <div class="card__links--container">
        <ul class="logo__list">
          <li class="logo__list--item">
            <a class="logo__list--mobile"><i class="fa fa-mobile"></i></a>
          </li>
          <li class="logo__list--item">
            <a class="link" href="" alt=""><i class="fa fa-envelope"></i></a>
          </li>
          <li class="logo__list--item">
            <a class="link" href="" alt=""><i class="fa fa-linkedin"></i></a>
          </li>
          <li class="logo__list--item">
            <a class="link" href="" alt=""><i class="fa fa-github-alt"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
