<section class="share collapsable js-collapsable collapsable--close">
  <include
    src="./collapsable-header.html"
    collapsableIcon="fa-share-alt"
    collapsableTitle="Comparte"
  ></include>
  <div class="collapsable__content collapsable__content--share">
    <button class="button__create link_animation js-create-btn">
      <i class="fa fa-address-card-o" aria-hidden="true"></i>Crear tarjeta
    </button>

    <div class="confirm__share js-card-result share-hidden">
      <p class="confirm__share--title">La tarjeta ha sido creada:</p>
      <a class="confirm__share--link" href=""></a>
      <!--       <button class="button__share link_animation js-twitter">
        <i class="fa fa-twitter" aria-hidden="true"></i>Compartir en twitter
      </button> -->
    </div>
    <div class="rectangle"></div>
  </div>
</section>
