<section class="share collapsable js-collapsable collapsable--close">
  <include
    src="./collapsable-header.html"
    collapsableIcon="fa-share-alt"
    collapsableTitle="Comparte"
  ></include>
  <div class="collapsable__content collapsable__content--share">
    <button class="button__create">
      <i class="fa fa-address-card-o" aria-hidden="true"></i>Crear tarjeta
    </button>

    <div class="confirm__share">
      <p class="confirm__share--title">La tarjeta ha sido creada:</p>
      <a
        class="confirm__share--link"
        href="https://awesome-profile-card.com?id=A456DF0001"
        >https://awesome-profile-card.com?id=A456DF0001</a
      >
      <button class="button__share">
        <i class="fa fa-twitter" aria-hidden="true"></i>Compartir en twitter
      </button>
    </div>
    <div class="rectangle"></div>
  </div>
</section>
