//FONTS
$font-landing-title: "Merriweather", serif;
$font-second: "Open Sans", sans-serif;
$font-card-title: "Montserrat", sans-serif;

//COLORS
$color-icons: #e17334;
$color-subtitle-labels: #114e4e;
$color-landging-button: #438792;
$color-copyright: #6b6b6b;
$color-card-background-above: #bfcdd0;
$color-card-background-bellow: #dde9ed;
$color-cards-text: #54585a;
$color-form: #a2deaf;
$color-creation-button-animation: #d5d5d5;
$color-twitter: #00a0f5;
$color-form-placeholder: #c5c5c5;

//Pallete 1
$color-pallete-1-color-1: #114e4e;
$color-pallete-1-color-2: #438792;
$color-pallete-1-color-3: #a2beaf;

//Pallete 2
$color-pallete-2-color-2: #420101;
$color-pallete-2-color-1: #bd1010;
$color-pallete-2-color-3: #e95626;

//Pallete 3
$color-pallete-3-color-1: #3e5b65;
$color-pallete-3-color-2: #eab052;
$color-pallete-3-color-3: #a0c0cf;

//MARGINS????
