//FONTS
$font-landing-title: 'Merriweather', serif;
$font-second: 'Open Sans', sans-serif;
$font-card-title: 'Montserrat', sans-serif;

//COLORS
$color-icons: #e17334;
$color-subtitle-labels: #114e4e;
$color-landging-button: #438792;
$color-copyright: #6b6b6b;
$color-card-background-above: #bfcdd0;
$color-card-background-bellow: #dde9ed;
$color-primary-background: #f5f5f5;
$color-cards-text: #54585a;
$color-form: #a2deaf;
$color-creation-button-animation: #d5d5d5;
$color-twitter: #00a0f5;
$color-line: #d8d8d8;
$color-form-placeholder: #c5c5c5;

//Palette 1
$color-palette-1-color-1: #114e4e;
$color-palette-1-color-2: #438792;
$color-palette-1-color-3: #a2deaf;

//Palette 2
$color-palette-2-color-1: #420101;
$color-palette-2-color-2: #bd1010;
$color-palette-2-color-3: #e95626;

//Palette 3
$color-palette-3-color-1: #3e5b65;
$color-palette-3-color-2: #eab052;
$color-palette-3-color-3: #a0c0cf;
