.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 110px;
  margin-bottom: 0;
  background-color: #ffffff;
  border-top: 1px #d8d8d8 solid;
  @media all and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    padding-top: 5px;
  }
  &__text {
    width: 198px;
    height: 20px;
    margin: 0 0 12px;
    opacity: 0.5;
    font-family: $font-second;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: rgba(107, 107, 107, 0.8);
    @media all and (min-width: 768px) {
      margin-left: 41px;
    }
  }
  &__adalab-logo {
    width: 103px;
    height: 40px;
    margin: 0;
    padding-right: 10px;
    padding: 0;
    @media all and (min-width: 768px) {
      margin-right: 40px;
    }
  }
}
