*{
  box-sizing: border-box;
}
.colapsable_form {
  display: flex;
  margin: 10px 20px 0;
  justify-content: space-between;
  & .left {
    display: flex;
  }
  & .fa__form {
    color: #e17334;
    font-size: 18px;
    margin-right: 6px;
  }
  & .form__colap--h2 {
    font-size: 18px;
    text-transform: uppercase;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 281px;
  margin: 0 auto 20px;
  &__label{
    padding:10px 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #114e4e;
    font-size: 14px;
  }
  &__input {
    border: 1px solid #a2deaf;
    height: 30px;
  }
  & .btn__submit--image {
    height: 30px;
    width: 140px;
    background: #e17334;
    border-radius: 3px;
    border: none;
    color: white;
    height: 30px;
  }
}