form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  width: 300px;
  padding: 5px 20px;
  line-height: 2;
}

button {
  height: 20px;
}

.btn__submit--image {
  height: 30px;
  width: 140px;
  background: #e17334;
  border-radius: 3px;
  border: none;
  color: white;
}
