* {
  box-sizing: border-box;
}
.colapsable_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid $color-line;
  margin: 0 20px 0 20px;
  @media all and (min-width: 768px) {
    margin: 0;
  }
}
// display: flex;
// margin: 10px 20px 0;
// border-top: 1px solid #d8d8d8;
// justify-content: space-between;
//   & .left {
//     padding-top: 10px;
//     display: flex;
//   }
//   & .fa__form {
//     color: $color-icons;
//     font-size: 18px;
//     margin-right: 6px;
//   }
//   & .form__colap--h2 {
//     font-family: $font-second;
//     font-size: 18px;
//     text-transform: uppercase;
//     color:$color-cards-text;
//   }
//   & .fa-angle-up{
//     padding-top: 10px;
//     color: $color-cards-text;
//     font-size: 18px;
//   }
// }
.action__hiddenField {
  /* Ocultamos el input de tipo "file" porque no podemos 
  darle los estilos que queremos */
  display: none;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 19px 20px 20px;
  &__label {
    display: block;
    padding: 10px 0;
    font-family: $font-second;
    font-weight: 300;
    color: $color-subtitle-labels;
    font-size: 14px;
  }
  &__input {
    border: 1px solid #a2deaf;
    height: 30px;
  }
  & .btn__submit--image {
    height: 30px;
    width: 140px;
    background: $color-icons;
    border-radius: 3px;
    border: none;
    color: white;
    height: 30px;
  }
  @media all and (min-width: 768px) {
    margin: 0;
    margin-bottom: 30px;
  }
}

.form__display--image {
  display: flex;
}
.form__preview--image {
  width: 30px;
  height: 30px;
  border: 1px solid $color-form;
  margin-top: 34px;
  margin-left: 20px;
  //getImage
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $color-form-placeholder;
  opacity: 1; /* Firefox */
  font-size: 14px;
  font-family: $font-second;
}
