.main {
  display: flex;
  height: 458px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border: 1px #d8d8d8;
}
.main__logo {
  width: 250px;
  height: 63px;
}
.main__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main__content--title {
  width: 223px;
  height: 24px;
  margin: 35.4px 22.9px 0px 22.1px;
  font-family: "Merriweather";
  font-size: 19.2px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #e17334;
}
.main__content--subtitle {
  width: 264.8px;
  height: 38.4px;
  margin: 0px 1.6px 17.8px 1.6px;
  font-family: "Open Sans";
  font-size: 12.8px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #114e4e;
}
.main__rectangle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 268px;
  height: 73.8px;
  margin: 0;
  padding: 0;
  border-radius: 4px;
  border: solid 1.6px rgba(225, 115, 52, 0.21);
}
.main__rectangle--item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fa {
  width: 32px;
  height: 26px;
  color: #e17334;
  font-size: 22.4px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}
.main__rectangle--item-text {
  width: 48.5px;
  height: 22px;
  text-transform: capitalize;
  text-align: center;
  margin: 0;
  font-family: "Open Sans", Arial, Helvetica;
  font-size: 12.8px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #54585a;
}
.main__button {
  width: 129px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 38px 75px 0 65px;
  padding: 10px 10px;
  border-radius: 21px;
  background-color: #438792;
  border: 0;
}
.main__button--text {
  width: 89px;
  height: 22px;
  text-transform: uppercase;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.main__button--link {
  text-decoration: none;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 110px;
  width: 100%;
  margin-bottom: 0;
  background-color: #ffffff;
  border: 1px #d8d8d8;
}
.footer__text {
  width: 198px;
  height: 20px;
  margin: 0 0 12px;
  opacity: 0.5;
  font-family: "Open Sans", Arial, Helvetica;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: rgba(107, 107, 107, 0.5);
}
.footer__adalab-logo {
  width: 103px;
  height: 40px;
  margin: 0;
  padding-right: 10px;
}
