.main {
  display: flex;
  height: 458px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}
.main__logo {
  width: 250px;
  height: 63px;
}
.main__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main__content--title {
  width: 223px;
  height: 24px;
  margin: 35.4px 22.9px 0px 22.1px;
  font-family: Merriweather;
  font-size: 19.2px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #e17334;
}
.main__content--subtitle {
  width: 264.8px;
  height: 38.4px;
  margin: 0px 1.6px 17.8px 1.6px;
  font-family: "Open Sans";
  font-size: 12.8px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #114e4e;
}
.main__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 268px;
  height: 73.8px;
  margin: 17.8px 0 0.2px;
  padding: 15px 20px 9.8px 20px;
  border-radius: 4px;
  border: solid 1.6px #e17334;
}
.main__menu--item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__menu--item-text {
  width: 48.5px;
  height: 22px;
  margin: 19px 0 0 11.5px;
  font-family: OpenSans;
  font-size: 12.8px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #54585a;
}
.main__button {
  width: 129px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 38px 75px 0 65px;
  padding: 10px 20px;
  border-radius: 21px;
  background-color: #438792;
}
.main__button--text {
  width: 89px;
  height: 22px;
  text-transform: uppercase;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.main__button--link {
  text-decoration: none;
}
.footer {
  display: flex;
  justify-content: center;
  height: 110px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer__adalab-logo {
  width: 103px;
  height: 40px;
  margin: 12px 47px 0 4;
}
