.section__card {
  box-sizing: border-box;
  background-image: linear-gradient(
    to bottom,
    $color-card-background-above,
    $color-card-background-bellow
  );
  padding: 30px 0 40px;
  display: flex;
  justify-content: center;
  @media all and (min-width: 768px) {
    height: 100%;
    padding: 173px 0 260px;
    border-radius: 6px;
  }
}

.reset {
  box-sizing: border-box;
  margin-bottom: 20px;
  height: 30px;
  width: 75px;
  border-radius: 15px;
  border: solid 1px #ffffff;
  font-family: $font-second;
  background-color: transparent;
  text-transform: uppercase;
  color: $color-cards-text;
}

.card {
  box-sizing: border-box;
  width: 240px;
  height: 329px;
  border-radius: 2px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.35);
  background-color: white;
  padding-top: 21px;
  padding-bottom: 12px;
  font-family: $font-card-title;
  &__titles {
    padding-left: 15px;
    &--name {
      font-size: 18px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.11;
      letter-spacing: normal;
      margin-bottom: 4px;
    }
    &--job {
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.25;
      letter-spacing: normal;
      margin-bottom: 10px;
    }
  }
  &__image {
    margin-bottom: 10px;
    box-sizing: border-box;
    width: 240px;
    height: 200px;
    //getImage
    background-image: url('../images/lee.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.logo__list {
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
  &--item {
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    margin: 0 10px 0 0;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.link__card {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.fa-mobile {
  font-size: 22px;
}

.fa-trash {
  font-size: 12px;
  margin: 0 8px 0 0;
}

//Pallete
.palette-1 {
  & .card__titles {
    border-left: 5px solid $color-palette-1-color-2;
    &--name {
      color: $color-palette-1-color-1;
    }
    &--job {
      color: $color-cards-text;
    }
  }
  .logo__list {
    &--item {
      border: solid 2px $color-palette-1-color-3;
    }
  }

  .link__card {
    color: $color-palette-1-color-1;
  }
}

.palette-2 {
  & .card__titles {
    border-left: 5px solid $color-palette-2-color-2;
    &--name {
      color: $color-palette-2-color-1;
    }
    &--job {
      color: $color-cards-text;
    }
  }
  .logo__list {
    &--item {
      border: solid 2px $color-palette-2-color-3;
    }
  }

  .link__card {
    color: $color-palette-2-color-1;
  }
}
.palette-3 {
  & .card__titles {
    border-left: 5px solid $color-palette-3-color-2;
    &--name {
      color: $color-palette-3-color-1;
    }
    &--job {
      color: $color-cards-text;
    }
  }
  .logo__list {
    &--item {
      border: solid 2px $color-palette-3-color-3;
    }
  }

  .link__card {
    color: $color-palette-3-color-1;
  }
}

.fa-mobile {
  font-size: 23px;
}

.fa-trash {
  font-size: 12px;
  margin: 0 8px 0 0;
}

.hidden {
  display: none;
}
